{% extends "basic.html" %}
{% block title %}Home {% endblock %}
{% block homeactive %} active {%endblock homeactive%}
{% block body %}

<div class="container">
    {% for blogs in blog %}
<div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{blogs.title}}</strong>
          <h3 class="mb-0"></h3>
          <div class="mb-1 text-muted">{{blogs.timestamp}}</div>
          <p class="card-text mb-auto">{{blogs.content|safe|truncatechars:200}}</p>
          <a href="blogpost" class="stretched-link">Continue reading</a>
        </div>
    {% endfor %}
</div>


{% endblock %}